<!DOCTYPE hrml>
<html lang="fr";>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>tadam</h1>
	<a href="{{path("troiswa_back_first_page")}}">Lien vers la première page</a>
</body>